* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: rgb(238, 229, 229);
  --second-color: #302b63;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--second-color);
  color: var(--first-color);
}

.header {
  font-size: 26px;
  margin-bottom: 60px;
}

.header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 18px;
}
