* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: rgb(238, 229, 229);
  --second-color: #302b63;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--second-color);
  color: var(--first-color);
  position: relative;
}

.header {
  font-size: 26px;
  margin-bottom: 60px;
}

.header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--first-color);
}

.info-box {
  display: flex;
  justify-content: right;
  width: 100%;
}

.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 12px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: var(--second-color);
  background-color: var(--first-color);
  border: 1px solid var(--second-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-info:hover {
  background-color: var(--second-color);
  border: 1px solid var(--first-color);
  color: var(--first-color);
}

.popup-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  padding: 16px;
  border-radius: 8px;
  z-index: 99;
}

.popup-info h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sign-info {
  display: flex;
  margin-bottom: 8px;
}
.btn-close-box {
  display: flex;
  justify-content: center;
}

.btn-close {
  margin-top: 12px;
  width: 100px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--second-color);
  color: var(--first-color);
  background-color: var(--second-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  cursor: pointer;
}

.btn-close:hover {
  background-color: var(--first-color);
  border: 1px solid var(--second-color);
  color: var(--second-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 18px;
}

.invitation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  height: 700px;
  border: 1px solid var(--second-color);
  border-radius: 18px;
}
.invitation-heading {
  font-size: 48px;
  margin-bottom: 46px;
}

.btn {
  text-align: center;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--first-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.buttons-start {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 24px;
}

.signs-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signs-icon i {
  font-size: 72px;
  margin-bottom: 12px;
}

.choice {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--first-color);
  color: var(--second-color);
  border-radius: 18px;
  width: 600px;
  height: 700px;
}

.players {
  display: flex;
}

.player1,
.player2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
  border-right: 1px solid var(--second-color);
  font-size: 24px;
  margin-top: 24px;
}

.player1 {
  visibility: visible;
}

.player2 {
  visibility: visible;
  border-left: 1px solid var(--second-color);
  border-right: none;
}

.score-p1,
.score-p2 {
  font-size: 86px;
}

.show-result-box {
  display: flex;
  justify-content: center;
}

.show-result {
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--second-color);
  color: var(--first-color);
  border: 1px solid var(--second-color);
  margin-top: 16px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.show-result:hover {
  background-color: var(--first-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
}

.btn-choice-p1,
.btn-choice-p2 {
  width: 80px;
  height: 80px;
  font-size: 14px;
  background-color: var(--first-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  color: var(--second-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-choice-p1:hover,
.btn-choice-p2:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  border: 1px solid var(--first-color);
}
.btn-choice-p1 i,
.btn-choice-p2 i {
  font-size: 28px;
}

.box-for-results {
  text-align: center;
  height: 60px;
  padding: 10px 0;
  visibility: visible;
  font-size: 24px;
}
