* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: rgb(238, 229, 229);
  --second-color: #302b63;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--second-color);
  color: var(--first-color);
}

.game-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 18px;
}

.show-instruction {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 42px;
  height: 42px;
  color: var(--first-color);
  background: transparent;
  border: 1px solid var(--first-color);
  border-radius: 50%;
  font-size: 24px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.show-instruction:hover {
  background-color: var(--first-color);
  color: var(--second-color);
}

.popup-instruction {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-color);
  color: var(--second-color);
  width: 75%;
  height: 50%;
  border-radius: 12px;
}

.popup-instruction h2 {
  margin-bottom: 22px;
}

.sign-instruction {
  display: flex;
  gap: 8px;
  font-size: 18px;
  padding: 8px;
}

.btn-close {
  margin-top: 12px;
  padding: 8px;
  color: var(--first-color);
  background-color: var(--second-color);
  border-radius: 4px;
  border: 1px solid var(--first-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-close:hover {
  background-color: var(--first-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
}

.title {
  font-size: 48px;
  margin-bottom: 18px;
  font-weight: 300;
}

.signs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.sign i {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 62px;
  margin-bottom: 8px;
}

.sign {
  text-align: center;
}

.start-section {
  text-align: center;
  margin-bottom: 34px;
}

.btn {
  border: 1px solid var(--first-color);
  color: var(--first-color);
  background: transparent;
  padding: 6px;
  width: 100px;
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: var(--first-color);
  color: var(--second-color);
}

.player1-choice,
.player2-choice {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-color);
  color: var(--second-color);
  border-radius: 12px;
  height: 500px;
  width: 700px;
}

.title-choice-p1,
.title-choice-p2 {
  font-size: 32px;
  margin-bottom: 62px;
}

.buttons-choice {
  display: flex;
  gap: 18px;
}

.choice-btn {
  width: 200px;
  height: 200px;
  color: var(--second-color);
  border: 4px solid var(--second-color);
  border-radius: 12px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.choice-btn:hover {
  color: var(--first-color);
  background-color: var(--second-color);
}

.choice-btn p {
  font-size: 76px;
}

.result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  text-align: center;
  margin-bottom: 52px;
}

.score {
  font-size: 82px;
}

.vs {
  font-size: 44px;
}

.btn-change-name {
  border: 1px solid var(--first-color);
  color: var(--first-color);
  background: transparent;
  font-size: 10px;
  padding: 6px;
  border-radius: 6px;
  margin-top: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-change-name:hover {
  background-color: var(--first-color);
  color: var(--second-color);
}

.change-name {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-color);
  color: var(--second-color);
  width: 250px;
  height: 150px;
  padding: 12px;
  font-size: 26px;
  border-radius: 12px;
}

.change-name input {
  width: 160px;
  margin-top: 12px;
  height: 32px;
  padding: 0 6px;
  font-size: 18px;
}

.change-name input::placeholder {
  color: rgb(183, 175, 175);
}

.btn-close-chn {
  display: flex;
  align-items: flex-end;
  background-color: var(--first-color);
  border: none;
  cursor: pointer;
}
